In [9]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("Data.csv")

In [11]:
df=df[["country","region","commodity","year","loss_percentage","activity","food_supply_stage","cause_of_loss","sample_size"]]

In [12]:
df

,country,region,commodity,year,loss_percentage,activity,food_supply_stage,cause_of_loss,sample_size
0,Myanmar,NaN,"Groundnuts, excluding shelled",2009,5.22,NaN,Whole supply chain,NaN,NaN
1,Myanmar,NaN,"Groundnuts, excluding shelled",2008,5.43,NaN,Whole supply chain,NaN,NaN
2,Myanmar,NaN,"Groundnuts, excluding shelled",2007,5.61,NaN,Whole supply chain,NaN,NaN
3,Myanmar,NaN,"Groundnuts, excluding shelled",2006,5.40,NaN,Whole supply chain,NaN,NaN
4,Myanmar,NaN,"Groundnuts, excluding shelled",2005,5.00,NaN,Whole supply chain,NaN,NaN
...,...,...,...,...,...,...,...,...,...
27768,Zambia,NaN,Millet,2000,1.27,Storage,Farm,NaN,NaN
27769,Zambia,NaN,Millet,2000,2.50,Winnowing,Farm,NaN,NaN
27770,Zambia,NaN,Millet,2000,1.00,Transportation,Transport,NaN,NaN
27771,Zambia,NaN,Millet,2000,2.38,Storage,Storage,NaN,NaN
27772,Zambia,NaN,Millet,2000,3.44,"Drying, Harvesting",Harvest,NaN,NaN

In [101]:
df[df["food_supply_stage"]=="Farm"]

,country,region,commodity,year,loss_percentage,activity,food_supply_stage,cause_of_loss,sample_size
7,Burundi,NaN,Wheat,2020,3.50,"Shelling, Threshing",Farm,NaN,NaN
8,Burundi,NaN,Wheat,2020,4.87,Storage,Farm,NaN,NaN
9,Burundi,NaN,Wheat,2020,2.50,Transportation,Farm,NaN,NaN
11,Burundi,NaN,Maize (corn),2020,4.00,Drying,Farm,NaN,NaN
12,Burundi,NaN,Maize (corn),2020,1.32,"Shelling, Threshing",Farm,NaN,NaN
...,...,...,...,...,...,...,...,...,...
27761,Zambia,NaN,Sorghum,2000,3.73,Storage,Farm,NaN,NaN
27766,Zambia,NaN,Millet,2000,2.50,Transportation,Farm,NaN,NaN
27767,Zambia,NaN,Millet,2000,2.00,"Shelling, Threshing",Farm,NaN,NaN
27768,Zambia,NaN,Millet,2000,1.27,Storage,Farm,NaN,NaN
27769,Zambia,NaN,Millet,2000,2.50,Winnowing,Farm,NaN,NaN

In [100]:
df.groupby("food_supply_stage").count()

,country,region,commodity,year,loss_percentage,activity,cause_of_loss,sample_size
food_supply_stage,,,,,,,,
Distribution,10,0,10,10,10,10,0,0
Export,50,19,50,50,50,32,19,15
Farm,12368,151,12368,12368,12368,12167,182,367
Food Services,14,6,14,14,14,12,0,2
Grading,11,0,11,11,11,9,2,0
Harvest,3688,76,3688,3688,3688,3576,78,112
Households,167,6,167,167,167,156,0,0
Market,9,3,9,9,9,9,0,0
Packing,17,0,17,17,17,9,8,0
Post-harvest,53,10,53,53,53,14,6,6
Pre-harvest,11,0,11,11,11,0,7,4
Processing,262,68,262,262,262,184,71,67
Retail,438,70,438,438,438,227,95,94
Stacking,1,0,1,1,1,0,0,0
Storage,2525,184,2525,2525,2525,2326,212,202
Trader,76,24,76,76,76,38,10,40
Transport,1849,71,1849,1849,1849,1779,55,86
Whole supply chain,5918,118,5918,5918,5918,175,79,80
Wholesale,257,59,257,257,257,147,93,101

In [94]:
df.groupby("region").count().sort_values(by="commodity")

,country,commodity,year,loss_percentage,activity,food_supply_stage,cause_of_loss,sample_size
region,,,,,,,,
"grown in Tupi, South Cotabato, in Mindanao, and distributed in various supermarkets in Metro Manila",1,1,1,1,1,1,1,0
Nyandarua,1,1,1,1,1,1,1,1
North Patagonia Region,1,1,1,1,0,1,1,1
Niamey,1,1,1,1,1,1,0,0
Dhankuta,1,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...
Guruve District,30,30,30,30,30,30,24,0
"North Hwanghae, South Pyongan and Pongyang City",33,33,33,33,29,33,21,30
Mbire District,35,35,35,35,35,35,25,0
Rangpur and Dinazpur district,36,36,36,36,24,36,0,30
Comilla,45,45,45,45,44,45,2,29

In [32]:
df.groupby("country").count().sort_values(by="commodity")

,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size
country,,,,,,,,,,,
Gabon,0,1,1,1,1,0,0,1,0,1,0
Africa,0,1,1,1,1,0,0,1,0,0,0
Algeria,0,1,1,1,1,0,0,1,0,0,0
Oman,0,1,1,1,1,0,0,1,0,1,0
Saint Kitts and Nevis,0,1,1,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
Uganda,0,787,787,787,787,7,778,787,7,8,4
Kenya,30,883,883,883,883,2,845,879,36,50,8
Ethiopia,11,885,885,885,885,1,869,885,2,13,8
India,75,1178,1178,1178,1178,11,941,1178,24,132,339
United States of America,0,1527,1527,1527,1527,44,179,1527,88,6,0

In [33]:
df[df["country"]=="United States of America"]

,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size
24459,United States of America,NaN,Asparagus,2019,9.0000,9,NaN,NaN,Whole supply chain,NaN,NaN,NaN
24460,United States of America,NaN,Cabbages,2019,8.0000,8,NaN,NaN,Whole supply chain,NaN,NaN,NaN
24461,United States of America,NaN,Cabbages,2019,7.0000,7,NaN,NaN,Whole supply chain,NaN,NaN,NaN
24462,United States of America,NaN,Cabbages,2019,12.0000,12,NaN,NaN,Whole supply chain,NaN,NaN,NaN
24463,United States of America,NaN,Cabbages,2019,12.0000,12,NaN,NaN,Whole supply chain,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
25981,United States of America,NaN,Orange juice,2000,40.8538,40.8538,NaN,NaN,Whole supply chain,NaN,NaN,NaN
25982,United States of America,NaN,Grapefruit juice,2000,43.7016,43.7016,NaN,NaN,Whole supply chain,NaN,NaN,NaN
25983,United States of America,NaN,Pineapple juice,2000,41.3333,41.3333,NaN,NaN,Whole supply chain,NaN,NaN,NaN
25984,United States of America,NaN,Grape juice,2000,19.0909,19.0909,NaN,NaN,Whole supply chain,NaN,NaN,NaN
25985,United States of America,NaN,Apple juice,2000,26.6667,26.6667,NaN,NaN,Whole supply chain,NaN,NaN,NaN

In [24]:
df[df["country"]=="Zambia"].groupby("activity").count()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,food_supply_stage,treatment,cause_of_loss,sample_size
activity,,,,,,,,,,,,,
Drying,21,21,0,21,21,21,21,21,0,21,0,0,0
"Drying, Harvesting",126,126,0,126,126,126,126,126,0,126,0,0,0
"Shelling, Threshing",84,84,0,84,84,84,84,84,0,84,0,0,0
Storage,239,239,0,239,239,239,239,239,0,239,1,1,0
Transportation,210,210,0,210,210,210,210,210,0,210,0,0,0
Winnowing,42,42,0,42,42,42,42,42,0,42,0,0,0

In [93]:
df.groupby("commodity").count()

,country,region,year,loss_percentage,activity,food_supply_stage,cause_of_loss,sample_size
commodity,,,,,,,,
"Almonds, in shell",15,2,15,15,6,15,1,0
"Anise, badian, coriander, cumin, caraway, fennel and juniper berries, raw",28,0,28,28,26,28,1,10
Apple juice,19,0,19,19,0,19,0,0
Apples,152,7,152,152,68,152,10,10
Apricots,58,1,58,58,6,58,0,0
...,...,...,...,...,...,...,...,...
Wheat,2052,45,2052,2052,1668,2051,36,47
Wheat and meslin flour,50,0,50,50,0,50,0,0
Wine,1,0,1,1,0,1,0,0
Yams,46,3,46,46,14,46,4,2
Yautia,25,0,25,25,0,25,0,0

In [10]:
df[df["country"]=="Zambia"].groupby("year").count()

,m49_code,country,region,cpc_code,commodity,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
year,,,,,,,,,,,,,,,,,
2000,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2001,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2002,35,35,0,35,35,35,35,0,35,35,1,1,0,35,1,34,1
2003,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2004,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2005,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2006,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2007,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2008,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2009,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2010,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2011,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2012,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2013,35,35,0,35,35,35,35,0,35,35,0,0,0,35,1,34,1
2014,34,34,0,34,34,34,34,0,34,34,0,0,0,34,0,34,0
2015,37,37,0,37,37,37,37,2,35,37,0,0,0,37,2,35,0
2016,37,37,0,37,37,37,37,2,35,37,0,0,0,37,2,35,0
2017,37,37,0,37,37,37,37,2,35,37,0,0,0,37,2,35,0
2018,35,35,0,35,35,35,35,0,35,35,0,0,0,35,0,35,0
2019,35,35,0,35,35,35,35,0,35,35,0,0,0,35,0,35,0
2020,35,35,0,35,35,35,35,0,35,35,0,0,0,35,0,35,0

In [72]:
df2=pd.read_csv("./SUA_Crops_Livestock_E_Asia/SUA_Crops_Livestock_E_Asia.csv",encoding='latin-1')

In [76]:
df2

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,2,Afghanistan,24110,Alcohol non food,5510,Production,tonnes,0.00,Im,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Afghanistan,24110,Alcohol non food,5610,Import Quantity,tonnes,NaN,NaN,NaN,...,0.00,X,143.00,R,31.00,R,1.00,R,0.00,R
2,2,Afghanistan,24110,Alcohol non food,5071,Stock Variation,tonnes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Afghanistan,24110,Alcohol non food,5910,Export Quantity,tonnes,NaN,NaN,NaN,...,0.00,R,0.00,X,0.00,X,0.00,R,0.00,R
4,2,Afghanistan,24110,Alcohol non food,5166,Residuals,tonnes,NaN,NaN,NaN,...,0.00,Im,143.00,Im,30.00,Im,1.00,Im,0.00,Im
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240156,249,Yemen,F1800,"Vegetables&Melons, Total",674,Protein supply quantity (g/capita/day),g/capita/day,0.69,Fc,0.53,...,0.45,Fc,0.42,Fc,0.33,Fc,0.41,Fc,0.45,Fc
240157,249,Yemen,F1800,"Vegetables&Melons, Total",684,Fat supply quantity (g/capita/day),g/capita/day,0.16,Fc,0.12,...,0.10,Fc,0.10,Fc,0.08,Fc,0.09,Fc,0.10,Fc
240158,249,Yemen,F1800,"Vegetables&Melons, Total",261,Calories/Year,million kcal,157008.00,A,120172.00,...,117231.00,A,116195.00,A,96529.00,A,118268.00,A,131410.00,A
240159,249,Yemen,F1800,"Vegetables&Melons, Total",271,Proteins/Year,tonnes,5849.00,A,4570.00,...,4354.00,A,4168.00,A,3397.00,A,4261.00,A,4796.00,A
240160,249,Yemen,F1800,"Vegetables&Melons, Total",281,Fats/Year,tonnes,1374.00,A,1051.00,...,977.00,A,962.00,A,825.00,A,980.00,A,1038.00,A

In [75]:
df2.groupby("Element").count().sort_values("Area Code")

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2010,Y2010F,Y2011,Y2011F,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
Element,,,,,,,,,,,,,,,,,,,,,
Total Population - Both sexes,45,45,45,45,45,45,45,45,45,45,...,45,45,45,45,45,45,45,45,45,45
Other uses (non-food),2881,2881,2881,2881,2881,2881,1517,1732,1534,1747,...,1965,2047,1948,2009,1961,2009,1926,1973,1850,1849
Seed,3149,3149,3149,3149,3149,3149,1067,1422,1068,1439,...,1070,1070,1069,1049,1067,1019,1068,1006,1065,1002
Processed,4203,4203,4203,4203,4203,4203,2986,2923,2988,2931,...,2892,2943,2889,2924,2887,2885,2902,2893,2899,2890
Feed,4319,4319,4319,4319,4319,4319,2371,2406,2395,2433,...,2769,2926,2764,2894,2783,2896,2986,2937,2971,2923
Loss,5918,5918,5918,5918,5918,5918,4222,4347,4223,4348,...,4451,4522,4451,4512,4445,4505,5415,5372,5432,5405
Opening stocks,9341,9341,9341,9341,9341,9341,9098,9098,9099,9099,...,9328,9329,9328,9329,9328,9329,9333,9333,9332,9332
Stock Variation,11385,11385,11385,11385,11385,11385,7223,7347,7211,7337,...,9063,9173,9066,9179,9066,9185,9034,9032,9007,9003
Tourist consumption,12056,12056,12056,12056,12056,12056,2099,3156,2100,3157,...,2198,2778,2198,2778,2193,2673,2206,2236,2241,2253
Food supply quantity (g/capita/day),14394,14394,14394,14394,14394,14394,12022,12022,12030,12030,...,12891,12891,12992,12992,13095,13095,13054,13054,13110,13110
Protein supply quantity (g/capita/day),14400,14400,14400,14400,14400,14400,12027,12027,12035,12035,...,12890,12890,12993,12993,13095,13095,13054,13054,13109,13109
Fat supply quantity (g/capita/day),14400,14400,14400,14400,14400,14400,12027,12027,12035,12035,...,12890,12890,12993,12993,13095,13095,13054,13054,13109,13109
Fats/Year,14435,14435,14435,14435,14435,14435,12053,12053,12062,12062,...,12924,12924,13025,13025,13127,13127,13084,13089,13136,13136
Proteins/Year,14435,14435,14435,14435,14435,14435,12053,12053,12062,12062,...,12924,12924,13025,13025,13127,13127,13084,13089,13136,13136
Calories/Year,14435,14435,14435,14435,14435,14435,12053,12053,12062,12062,...,12924,12924,13025,13025,13127,13127,13084,13089,13136,13136
Food supply (kcal/capita/day),14864,14864,14864,14864,14864,14864,12026,12026,12034,12034,...,12880,12880,12984,12984,13087,13087,13054,13054,13107,13107
Food supply quantity (tonnes),15725,15725,15725,15725,15725,15725,11868,11843,11883,11863,...,12920,12910,13023,13007,13127,13112,13091,13075,13142,13125
Export Quantity,15779,15779,15779,15779,15779,15779,11743,6694,11745,6554,...,9400,2979,9384,3008,10076,3611,10039,3791,9686,4498
Production,16227,16227,16227,16227,16227,16227,10719,8767,10719,8772,...,7707,5990,7707,5982,7718,5929,7601,5866,7596,5965
Import Quantity,18387,18387,18387,18387,18387,18387,14112,6760,14115,6591,...,13858,4844,13811,4917,14187,5297,14248,5849,14251,7012
Residuals,19383,19383,19383,19383,19383,19383,1696,2635,1673,2615,...,17999,18000,18006,18006,18113,18113,18072,18074,16995,16995

In [73]:
df2.groupby("Area").count().sort_values("Area Code")

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2010,Y2010F,Y2011,Y2011F,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
Area,,,,,,,,,,,,,,,,,,,,,
Turkmenistan,4086,4086,4086,4086,4086,4086,1317,1395,1317,1395,...,2981,2990,3027,3033,2940,2946,2807,2806,2880,2874
Timor-Leste,4219,4219,4219,4219,4219,4219,1507,1575,1505,1586,...,2974,2971,3096,3096,3261,2957,2893,2904,2777,2774
Democratic People's Republic of Korea,4222,4222,4222,4222,4222,4222,1636,1696,1636,1695,...,2995,3021,2916,2937,3016,3025,2923,2913,2574,2560
Lao People's Democratic Republic,4597,4597,4597,4597,4597,4597,1994,2032,1989,2032,...,3153,3049,3327,3235,3637,3599,3695,3651,3437,3064
Maldives,4763,4763,4763,4763,4763,4763,3364,3213,3362,3217,...,3599,3334,3660,3411,3639,3362,3822,3537,4208,4178
Tajikistan,4773,4773,4773,4773,4773,4773,2074,2097,2061,2103,...,3320,3327,3378,3389,3401,3416,3368,3322,3383,3339
Afghanistan,4961,4961,4961,4961,4961,4961,2010,1990,2008,1987,...,3655,3602,3737,3677,3776,3717,3799,3649,3776,3730
Mongolia,4991,4991,4991,4991,4991,4991,3319,3370,3323,3372,...,3782,3427,3876,3487,3803,3413,3815,3439,3758,3402
Georgia,5025,5025,5025,5025,5025,5025,3717,3408,3728,3385,...,3956,3441,3974,3450,3966,3443,4032,3490,4083,3519
Oman,5169,5169,5169,5169,5169,5169,3944,3553,3961,3554,...,4106,3581,4145,3619,4187,3596,4352,3763,4453,4414
Yemen,5171,5171,5171,5171,5171,5171,4027,4015,4074,3712,...,4136,3735,4071,4027,4167,4122,4010,3766,3621,3357
Kyrgyzstan,5199,5199,5199,5199,5199,5199,3876,3562,3871,3555,...,3896,3472,4014,3583,4039,3577,3978,3519,3992,3514
"China, Taiwan Province of",5238,5238,5238,5238,5238,5238,4378,3813,4378,3820,...,4553,3972,4571,3989,4578,3996,4556,3938,4569,3951
Armenia,5253,5253,5253,5253,5253,5253,3789,3441,3781,3433,...,4021,3565,3906,3510,4117,3603,4100,3597,4077,3582
Azerbaijan,5290,5290,5290,5290,5290,5290,3853,3475,3868,3513,...,4210,4089,4233,4122,4252,4141,3973,3443,4085,3552
"China, Macao SAR",5304,5304,5304,5304,5304,5304,3789,3666,3773,3649,...,3731,3513,3641,3485,4020,4088,4020,4060,3834,3828
Kuwait,5309,5309,5309,5309,5309,5309,3526,3595,3523,3595,...,3896,3329,3894,3324,3907,3333,4077,3512,4314,4288
Republic of Korea,5312,5312,5312,5312,5312,5312,4093,3651,4102,3644,...,4322,3775,4347,3750,4352,3760,4356,3752,4358,3782
Jordan,5336,5336,5336,5336,5336,5336,3935,3489,3926,3475,...,3963,3499,4009,3513,4003,3483,4027,3519,4120,3583
Uzbekistan,5381,5381,5381,5381,5381,5381,3252,3298,3255,3286,...,3976,3990,3967,3959,4068,3685,4107,3633,4007,3587
Malaysia,5421,5421,5421,5421,5421,5421,4173,3646,4168,3627,...,4410,3760,4396,3757,4390,3757,4445,3807,4457,3808
Cambodia,5460,5460,5460,5460,5460,5460,4173,4008,4182,3985,...,4338,4020,4320,4017,4498,4503,4533,4528,4370,4022
Iran (Islamic Republic of),5469,5469,5469,5469,5469,5469,4060,3648,4062,3657,...,4435,4362,4205,3798,4219,3806,4517,4447,4441,4410
Myanmar,5470,5470,5470,5470,5470,5470,2570,2622,2574,2630,...,3843,3818,3933,3594,3988,3621,3963,3511,3865,3444
Israel,5501,5501,5501,5501,5501,5501,4077,3725,4093,3822,...,4250,3850,4221,3844,4219,3859,4293,4193,4256,4146
Pakistan,5518,5518,5518,5518,5518,5518,4242,3774,4245,3769,...,4331,3850,4403,3903,4382,3915,4381,3851,4337,3835
"China, Hong Kong SAR",5530,5530,5530,5530,5530,5530,4149,3703,4153,3691,...,4588,4032,4611,4061,4589,4022,4618,4049,4624,4052
United Arab Emirates,5555,5555,5555,5555,5555,5555,4068,4118,4085,4137,...,4675,4044,4686,4050,4702,4116,4675,4011,4627,3974
Saudi Arabia,5570,5570,5570,5570,5570,5570,3883,3510,3883,3496,...,4159,3669,4150,3675,4180,3671,4279,3718,4230,3709
Iraq,5587,5587,5587,5587,5587,5587,2713,2771,2710,2764,...,4210,4216,4225,4213,4424,4406,4404,4334,4446,4376
Turkey,5593,5593,5593,5593,5593,5593,4368,3841,4378,3797,...,4525,3895,4524,3900,4533,3873,4562,3902,4665,3968
Japan,5610,5610,5610,5610,5610,5610,4306,3761,4299,3758,...,4543,3915,4553,3919,4577,4007,4624,4039,4614,3978
Kazakhstan,5610,5610,5610,5610,5610,5610,4351,3890,4364,3880,...,4496,3850,4538,3875,4522,3858,4517,3846,4548,3859
Syrian Arab Republic,5635,5635,5635,5635,5635,5635,4044,3710,4022,4001,...,4182,4233,4148,4197,4239,4208,4254,4174,4250,4167
Lebanon,5646,5646,5646,5646,5646,5646,4186,3758,4189,3744,...,4334,3781,4349,3784,4364,3808,4478,3925,4691,4670
Indonesia,5657,5657,5657,5657,5657,5657,4627,4124,4628,4109,...,4817,4257,4802,4236,4829,4444,4842,4216,4840,4673
Sri Lanka,5657,5657,5657,5657,5657,5657,4103,3707,4093,3655,...,4249,3803,4314,3825,4296,3793,4552,4497,4435,4385
Viet Nam,5658,5658,5658,5658,5658,5658,2546,2595,2550,2591,...,3936,3875,4002,3945,3963,3913,3996,3916,3989,3916
India,5673,5673,5673,5673,5673,5673,4424,3918,4434,3908,...,4597,4031,4557,4012,4609,4040,4612,3977,4625,3994
Nepal,5684,5684,5684,5684,5684,5684,4461,4125,4467,4082,...,4663,4231,4733,4263,4738,4287,4744,4672,4746,4654
Thailand,5737,5737,5737,5737,5737,5737,4460,3939,4460,3938,...,4678,4153,4674,4174,4672,4134,4662,4146,4667,4567
Philippines,5780,5780,5780,5780,5780,5780,4402,3986,4392,3967,...,4567,4071,4561,4077,4614,4096,4610,4054,4623,4161
Cyprus,5824,5824,5824,5824,5824,5824,4581,4061,4585,4082,...,4667,4133,4654,4126,4634,4078,4698,4152,4684,4131
"China, mainland",5856,5856,5856,5856,5856,5856,4630,4087,4630,4077,...,4952,4401,4923,4387,4950,4407,4958,4343,4580,3980
Bangladesh,5861,5861,5861,5861,5861,5861,4030,4075,4031,4076,...,4318,3947,4455,4448,4489,4477,4507,4444,4439,4383

In [57]:
df2.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y1961', 'Y1961F', 'Y1962',
       ...
       'Y2016', 'Y2016F', 'Y2017', 'Y2017F', 'Y2018', 'Y2018F', 'Y2019',
       'Y2019F', 'Y2020', 'Y2020F'],
      dtype='object', length=127)