In [54]:
import pandas as pd
import numpy as np

In [55]:
df=pd.read_csv("Data.csv")

In [56]:
df=df[["country","commodity","year","loss_percentage","activity","food_supply_stage","cause_of_loss"]]

In [57]:
df

,country,commodity,year,loss_percentage,activity,food_supply_stage,cause_of_loss
0,Myanmar,"Groundnuts, excluding shelled",2009,5.22,NaN,Whole supply chain,NaN
1,Myanmar,"Groundnuts, excluding shelled",2008,5.43,NaN,Whole supply chain,NaN
2,Myanmar,"Groundnuts, excluding shelled",2007,5.61,NaN,Whole supply chain,NaN
3,Myanmar,"Groundnuts, excluding shelled",2006,5.40,NaN,Whole supply chain,NaN
4,Myanmar,"Groundnuts, excluding shelled",2005,5.00,NaN,Whole supply chain,NaN
...,...,...,...,...,...,...,...
27768,Zambia,Millet,2000,1.27,Storage,Farm,NaN
27769,Zambia,Millet,2000,2.50,Winnowing,Farm,NaN
27770,Zambia,Millet,2000,1.00,Transportation,Transport,NaN
27771,Zambia,Millet,2000,2.38,Storage,Storage,NaN
27772,Zambia,Millet,2000,3.44,"Drying, Harvesting",Harvest,NaN

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27773 entries, 0 to 27772
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            27773 non-null  object
 1   commodity          27773 non-null  object
 2   year               27773 non-null  int64
 3   loss_percentage    27773 non-null  float64
 4   activity           20873 non-null  object
 5   food_supply_stage  27724 non-null  object
 6   cause_of_loss      925 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.5+ MB

# First Level Grouping

In [67]:
df.groupby("country").count().sort_values(by=["loss_percentage"], ascending=False)   #Grouped based on the country

,commodity,year,loss_percentage,activity,food_supply_stage,cause_of_loss
country,,,,,,
United States of America,1527,1527,1527,179,1527,6
India,1178,1178,1178,941,1178,132
Ethiopia,885,885,885,869,885,13
Kenya,883,883,883,845,879,50
Uganda,787,787,787,778,787,8
...,...,...,...,...,...,...
Africa,1,1,1,0,1,0
Saint Kitts and Nevis,1,1,1,0,1,0
Gabon,1,1,1,0,1,1
Algeria,1,1,1,0,1,0
"China,Taiwan",1,1,1,0,1,0

In [68]:
df.groupby("commodity").count().sort_values(by=["loss_percentage"], ascending=False)   #Grouped based on the commodity

,country,year,loss_percentage,activity,food_supply_stage,cause_of_loss
commodity,,,,,,
Maize (corn),5246,5246,5246,4825,5234,78
Rice,4299,4299,4299,4030,4295,68
Millet,3398,3398,3398,3358,3398,6
Sorghum,3390,3390,3390,3317,3390,8
Wheat,2052,2052,2052,1668,2051,36
...,...,...,...,...,...,...
Flour of buckwheat,1,1,1,1,1,0
Tapioca of cassava,1,1,1,0,1,1
"Other tropical and subtropical fruits, n.e.",1,1,1,0,1,0
"Other legumes, for forage",1,1,1,0,1,0
"Meat of pig with the bone, fresh or chilled",1,1,1,0,1,0

In [69]:
df.groupby("year").count().sort_values(by=["loss_percentage"], ascending=False)   #Grouped based on the year

,country,commodity,loss_percentage,activity,food_supply_stage,cause_of_loss
year,,,,,,
2014,1843,1843,1843,1428,1843,160
2006,1647,1647,1647,1281,1645,4
2009,1607,1607,1607,1288,1607,133
2016,1514,1514,1514,1012,1511,13
2010,1496,1496,1496,1014,1496,73
2013,1433,1433,1433,1049,1412,142
2001,1408,1408,1408,972,1408,76
2008,1380,1380,1380,1114,1380,5
2002,1326,1326,1326,919,1322,16
2011,1310,1310,1310,978,1303,89
2015,1284,1284,1284,914,1284,36
2003,1271,1271,1271,884,1270,5
2005,1250,1250,1250,856,1248,6
2000,1236,1236,1236,861,1235,6
2017,1221,1221,1221,876,1221,57
2004,1205,1205,1205,853,1204,2
2007,1187,1187,1187,860,1182,20
2018,1184,1184,1184,1019,1184,55
2012,1170,1170,1170,935,1168,27
2019,913,913,913,876,913,0
2020,862,862,862,858,862,0
2021,26,26,26,26,26,0

In [70]:
df.groupby("activity").count().sort_values(by=["loss_percentage"], ascending=False)   #Grouped based on the activity

,country,commodity,year,loss_percentage,food_supply_stage,cause_of_loss
activity,,,,,,
Storage,5145,5145,5145,5145,5145,107
Transportation,4918,4918,4918,4918,4918,11
"Drying, Harvesting",3315,3315,3315,3315,3315,0
"Shelling, Threshing",3170,3170,3170,3170,3170,1
Winnowing,1261,1261,1261,1261,1261,0
...,...,...,...,...,...,...
"Harvesting, Packaging, Sorting, Storage",1,1,1,1,1,0
"Harvesting, Storage",1,1,1,1,1,0
"Loading, Marketing, Transportation, Unloading",1,1,1,1,1,0
"Marketing, Retailing",1,1,1,1,1,1
"Grading, Transportation",1,1,1,1,1,0

In [71]:
df.groupby("food_supply_stage").count().sort_values(by=["loss_percentage"], ascending=False) #Grouped based on the food supply stage

,country,commodity,year,loss_percentage,activity,cause_of_loss
food_supply_stage,,,,,,
Farm,12368,12368,12368,12368,12167,182
Whole supply chain,5918,5918,5918,5918,175,79
Harvest,3688,3688,3688,3688,3576,78
Storage,2525,2525,2525,2525,2326,212
Transport,1849,1849,1849,1849,1779,55
Retail,438,438,438,438,227,95
Processing,262,262,262,262,184,71
Wholesale,257,257,257,257,147,93
Households,167,167,167,167,156,0
Trader,76,76,76,76,38,10
Post-harvest,53,53,53,53,14,6
Export,50,50,50,50,32,19
Packing,17,17,17,17,9,8
Food Services,14,14,14,14,12,0
Pre-harvest,11,11,11,11,0,7
Grading,11,11,11,11,9,2
Distribution,10,10,10,10,10,0
Market,9,9,9,9,9,0
Stacking,1,1,1,1,0,0

In [72]:
df.groupby("cause_of_loss").count().sort_values(by=["loss_percentage"], ascending=False)   #Grouped based on the cause of loss

,country,commodity,year,loss_percentage,activity,food_supply_stage
cause_of_loss,,,,,,
Physical Losses,87,87,87,87,12,87
Insect pest damage,54,54,54,54,54,54
main causes of this were a mismatch in supply and demand or cosmetic and quality related,41,41,41,41,9,41
Mechanical Damage,36,36,36,36,34,36
Decay,26,26,26,26,26,26
...,...,...,...,...,...,...
Parboiled Rice Parboiling,1,1,1,1,0,1
Parboiled Rice Storage,1,1,1,1,0,1
Parboiled Ricedrying,1,1,1,1,0,1
Parboiling,1,1,1,1,0,1
"Most important: After harvest: Quality (appearance, size), plant diseases and damage. During harvest: Weather conditions, plant diseases and harvesting procedures.",1,1,1,1,0,1

# SECOND LEVEL GROUPING

In [65]:
df.groupby(["country","commodity"]).count() #Grouped based on the country

                           year  loss_percentage  activity  food_supply_stage  \
country     commodity
Afghanistan Barley            4                4         0                  4
            Maize (corn)      4                4         0                  4
            Rice              4                4         0                  4
            Wheat            17               17         0                 17
Africa      Maize (corn)      1                1         0                  1
...                         ...              ...       ...                ...
Zambia      Wheat            84               84        84                 84
Zimbabwe    Cow peas, dry    70               70        70                 70
            Maize (corn)    147              147       147                147
            Millet          147              147       147                147
            Sorghum         108              108       108                108

                           cause_of_loss
country     commodity
Afghanistan Barley                     0
            Maize (corn)               0
            Rice                       0
            Wheat                      0
Africa      Maize (corn)               0
...                                  ...
Zambia      Wheat                      0
Zimbabwe    Cow peas, dry             54
            Maize (corn)               0
            Millet                     0
            Sorghum                    0

[1326 rows x 5 columns]

In [73]:
#added