In [1]:
import pandas as pd

df = pd.read_csv("Data/Data.csv")
df = df[["country", "commodity", "loss_percentage", "activity", "food_supply_stage", "cause_of_loss"]]
df

,country,commodity,loss_percentage,activity,food_supply_stage,cause_of_loss
0,Myanmar,"Groundnuts, excluding shelled",5.22,NaN,Whole supply chain,NaN
1,Myanmar,"Groundnuts, excluding shelled",5.43,NaN,Whole supply chain,NaN
2,Myanmar,"Groundnuts, excluding shelled",5.61,NaN,Whole supply chain,NaN
3,Myanmar,"Groundnuts, excluding shelled",5.40,NaN,Whole supply chain,NaN
4,Myanmar,"Groundnuts, excluding shelled",5.00,NaN,Whole supply chain,NaN
...,...,...,...,...,...,...
27768,Zambia,Millet,1.27,Storage,Farm,NaN
27769,Zambia,Millet,2.50,Winnowing,Farm,NaN
27770,Zambia,Millet,1.00,Transportation,Transport,NaN
27771,Zambia,Millet,2.38,Storage,Storage,NaN
27772,Zambia,Millet,3.44,"Drying, Harvesting",Harvest,NaN